.add-recipe,
.recipe-form {
  max-width: 500px;
  margin: 20px auto; }
  .add-recipe__input.mdc-text-field--fullwidth:not(.mdc-text-field--textarea) .mdc-text-field__input,
  .recipe-form__input.mdc-text-field--fullwidth:not(.mdc-text-field--textarea) .mdc-text-field__input {
    height: 70px; }
  .add-recipe__input.mdc-text-field,
  .recipe-form__input.mdc-text-field {
    margin-bottom: 20px; }
  .add-recipe__input .mdc-text-field__input,
  .recipe-form__input .mdc-text-field__input {
    line-height: 1.2rem; }
