.recipes-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 30px 0; }

.recipe-list__item {
  display: flex;
  flex-basis: calc(50% - 10px);
  margin: 20px 0;
  text-decoration: none;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12); }
  .recipe-list__item .single-recipe__card {
    width: 100%;
    padding: 15px 0; }
    .recipe-list__item .single-recipe__card span {
      padding: 0 15px; }
    .recipe-list__item .single-recipe__card .mdc-typography--headline6 {
      color: #000; }
    .recipe-list__item .single-recipe__card .mdc-typography--subtitle2 {
      color: rgba(0, 0, 0, 0.54);
      margin-bottom: 10px; }
    .recipe-list__item .single-recipe__card .mdc-typography--body1 {
      margin-top: 15px;
      color: rgba(0, 0, 0, 0.7); }
  @media screen and (max-width: 767px) {
    .recipe-list__item {
      flex-basis: 100%; } }
