@import url(./../node_modules/@material/typography/dist/mdc.typography.min.css);
@import url(./../node_modules/@material/button/dist/mdc.button.min.css);
@import url(./../node_modules/@material/toolbar/dist/mdc.toolbar.min.css);
@import url(./../node_modules/@material/textfield/dist/mdc.textfield.min.css);
@import url(./../node_modules/@material/card/dist/mdc.card.min.css);
.container {
  max-width: 992px;
  margin: 0 auto; }

.add-recipe,
.recipe-form {
  max-width: 500px;
  margin: 20px auto; }
  .add-recipe__input.mdc-text-field,
  .recipe-form__input.mdc-text-field {
    margin-bottom: 20px; }

.single-recipe {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  margin-top: 30px; }
  .single-recipe__main-info, .single-recipe__history {
    display: flex;
    flex-wrap: wrap; }
  .single-recipe__main-info {
    flex-basis: 60%; }
  .single-recipe__history {
    flex-basis: 40%; }
  .single-recipe__title, .single-recipe__date, .single-recipe__description {
    flex-basis: 100%;
    margin-bottom: 20px; }
  .single-recipe__title {
    margin-bottom: 0; }
  .single-recipe__controls a {
    margin-right: 15px; }

body,
p {
  margin: 0;
  padding: 0; }

.link--home {
  display: flex;
  padding: 10px; }
