@import url(./../node_modules/@material/typography/dist/mdc.typography.min.css);
@import url(./../node_modules/@material/button/dist/mdc.button.min.css);
@import url(./../node_modules/@material/toolbar/dist/mdc.toolbar.min.css);
@import url(./../node_modules/@material/textfield/dist/mdc.textfield.min.css);
@import url(./../node_modules/@material/card/dist/mdc.card.min.css);
@import url(./../node_modules/@material/list/dist/mdc.list.min.css);
.container {
  max-width: 992px;
  padding: 0 15px;
  margin: 0 auto; }

.add-recipe,
.recipe-form {
  max-width: 500px;
  margin: 20px auto; }
  .add-recipe__input.mdc-text-field--fullwidth:not(.mdc-text-field--textarea) .mdc-text-field__input,
  .recipe-form__input.mdc-text-field--fullwidth:not(.mdc-text-field--textarea) .mdc-text-field__input {
    height: 70px; }
  .add-recipe__input.mdc-text-field,
  .recipe-form__input.mdc-text-field {
    margin-bottom: 20px; }
  .add-recipe__input .mdc-text-field__input,
  .recipe-form__input .mdc-text-field__input {
    line-height: 1.2rem; }

.single-recipe {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  margin: 30px 0; }
  .single-recipe__main-info, .single-recipe__history {
    display: flex;
    flex-wrap: wrap; }
  .single-recipe__main-info {
    flex-basis: calc(60% - 20px);
    padding: 0 0 20px 20px;
    margin-right: 20px;
    border-left: 1px solid rgba(0, 0, 0, 0.54);
    border-bottom: 1px solid rgba(0, 0, 0, 0.54); }
  .single-recipe__history {
    flex-basis: calc(40% - 10px);
    margin-left: 10px;
    padding-bottom: 20px;
    border-right: 1px solid rgba(0, 0, 0, 0.54);
    border-bottom: 1px solid rgba(0, 0, 0, 0.54); }
  .single-recipe__title, .single-recipe__date, .single-recipe__description {
    flex-basis: 100%;
    margin-bottom: 20px; }
  .single-recipe__title {
    margin-bottom: 0; }
  .single-recipe__controls a {
    margin-right: 15px; }
  .single-recipe__load-history {
    width: 100%;
    margin-bottom: 10px; }
  .single-recipe .single-recipe__card {
    flex-basis: 100%;
    margin-bottom: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.54);
    padding: 15px 0; }
    .single-recipe .single-recipe__card span {
      padding: 0 15px; }
    .single-recipe .single-recipe__card .mdc-typography--subtitle2 {
      margin-bottom: 15px; }
    .single-recipe .single-recipe__card .mdc-typography--body1 {
      margin-top: 10px; }
  @media screen and (max-width: 767px) {
    .single-recipe__main-info, .single-recipe__history {
      flex-basis: 100%;
      margin: 20px 0; } }

.recipes-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 30px 0; }

.recipe-list__item {
  display: flex;
  flex-basis: calc(50% - 10px);
  margin: 20px 0;
  text-decoration: none;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12); }
  .recipe-list__item .single-recipe__card {
    width: 100%;
    padding: 15px 0; }
    .recipe-list__item .single-recipe__card span {
      padding: 0 15px; }
    .recipe-list__item .single-recipe__card .mdc-typography--headline6 {
      color: #000; }
    .recipe-list__item .single-recipe__card .mdc-typography--subtitle2 {
      color: rgba(0, 0, 0, 0.54);
      margin-bottom: 10px; }
    .recipe-list__item .single-recipe__card .mdc-typography--body1 {
      margin-top: 15px;
      color: rgba(0, 0, 0, 0.7); }
  @media screen and (max-width: 767px) {
    .recipe-list__item {
      flex-basis: 100%; } }

body,
p {
  margin: 0;
  padding: 0; }

div {
  box-sizing: border-box; }

.main {
  margin-bottom: 20px; }

.mdc-toolbar {
  background-color: #607d8b; }

.link--home {
  display: flex;
  padding: 10px; }
