.single-recipe {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    margin: 30px 0;

    &__main-info,
    &__history {
        display: flex;
        flex-wrap: wrap;
    }

    &__main-info {
        flex-basis: calc(60% - 20px);
        padding: 0 0 20px 20px;
        margin-right: 20px;
        border-left: 1px solid rgba(0, 0, 0, .54);
        border-bottom: 1px solid rgba(0, 0, 0, .54);
    }

    &__history {
        flex-basis: calc(40% - 10px);
        margin-left: 10px;
        padding-bottom: 20px;
        border-right: 1px solid rgba(0, 0, 0, .54);
        border-bottom: 1px solid rgba(0, 0, 0, .54);
    }

    &__title,
    &__date,
    &__description {
        flex-basis: 100%;
        margin-bottom: 20px;
    }

    &__title {
        margin-bottom: 0;
    }

    &__controls {
        a {
            margin-right: 15px;
        }
    }

    &__load-history {
        width: 100%;
        margin-bottom: 10px;
    }

    .single-recipe__card {
        flex-basis: 100%;
        margin-bottom: 10px;
        border-bottom: 1px solid rgba(0, 0, 0, .54);
        padding: 15px 0;

        span {
            padding: 0 15px;
        }

        .mdc-typography--subtitle2 {
            margin-bottom: 15px;
        }

        .mdc-typography--body1 {
            margin-top: 10px;
        }
    }

    @media screen and (max-width: 767px) {
        &__main-info,
        &__history {
            flex-basis: 100%;
            margin: 20px 0;
        }
    }
}
