.single-recipe {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  margin: 30px 0; }
  .single-recipe__main-info, .single-recipe__history {
    display: flex;
    flex-wrap: wrap; }
  .single-recipe__main-info {
    flex-basis: calc(60% - 20px);
    padding: 0 0 20px 20px;
    margin-right: 20px;
    border-left: 1px solid rgba(0, 0, 0, 0.54);
    border-bottom: 1px solid rgba(0, 0, 0, 0.54); }
  .single-recipe__history {
    flex-basis: calc(40% - 10px);
    margin-left: 10px;
    padding-bottom: 20px;
    border-right: 1px solid rgba(0, 0, 0, 0.54);
    border-bottom: 1px solid rgba(0, 0, 0, 0.54); }
  .single-recipe__title, .single-recipe__date, .single-recipe__description {
    flex-basis: 100%;
    margin-bottom: 20px; }
  .single-recipe__title {
    margin-bottom: 0; }
  .single-recipe__controls a {
    margin-right: 15px; }
  .single-recipe__load-history {
    width: 100%;
    margin-bottom: 10px; }
  .single-recipe .single-recipe__card {
    flex-basis: 100%;
    margin-bottom: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.54);
    padding: 15px 0; }
    .single-recipe .single-recipe__card span {
      padding: 0 15px; }
    .single-recipe .single-recipe__card .mdc-typography--subtitle2 {
      margin-bottom: 15px; }
    .single-recipe .single-recipe__card .mdc-typography--body1 {
      margin-top: 10px; }
  @media screen and (max-width: 767px) {
    .single-recipe__main-info, .single-recipe__history {
      flex-basis: 100%;
      margin: 20px 0; } }
