.single-recipe {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  margin-top: 30px; }
  .single-recipe__main-info, .single-recipe__history {
    display: flex;
    flex-wrap: wrap; }
  .single-recipe__main-info {
    flex-basis: 60%; }
  .single-recipe__history {
    flex-basis: 40%; }
  .single-recipe__title, .single-recipe__date, .single-recipe__description {
    flex-basis: 100%;
    margin-bottom: 20px; }
  .single-recipe__title {
    margin-bottom: 0; }
  .single-recipe__controls a {
    margin-right: 15px; }
  .single-recipe .single-recipe__card {
    flex-basis: 100%;
    margin-bottom: 10px;
    border-bottom: 1px solid #ccc;
    padding: 15px; }
